{% extends 'adminnavbar.html' %}
{% load static %}
{% block content %}


<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    

    .float{
	position:fixed;
	width:70px;
	height:70px;
	bottom:60px;
	right:60px;
	background-color:#3eb54d;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 5px 5px 5px #505050;
}


  </style>
</head>


<div class="container">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h6 class="panel-title">Notifications</h6>
    </div>
    <table class="table table-hover table-bordered" id="dev-table">
      <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
      </thead>
    {% for i in a %}
    <tr>
        <td>{{i.first_name}}</td>
        <td>{{i.last_name}}</td>
        <td>{{i.username}}</td>
        <td>{{i.email}}</td>
        <td><a href="{% url "approval" i.id %}" class='btn btn-success'>Approve</a>
            <a href="{% url "disapproval" i.id %}" class='btn btn-danger'>Reject</a></td> 
    </tr>
    {% endfor %}
    {% comment %} {% for i in b %}
    <tr>
      <td>{{i.first_name}}</td>
        <td>{{i.last_name}}</td>
        <td>{{i.username}}</td>
        <td>{{i.email}}</td>
        <td><a href="{% url "approval_client" i.id %}" class='btn btn-success'>Approve</a>
            <a href="{% url "disapproval_client" i.id %}" class='btn btn-danger'>Reject</a></td>
    </tr>
    {% endfor %} {% endcomment %}
</table>
{% endblock %}